/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-06-2022, 06:28:26 PM
    Author     : josue
*/
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.body{
    background: #970182;  /* fallback for old browsers */  
    background: linear-gradient(to bottom, #0dcaf0, #980081); /* W3C, IE 1#9800810+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, #980081, #0dcaf0);
    float:left;
    width:100%;
    padding-bottom: 50px;
}

.styled-table 
{ 
    margin: 25px 0; 
    font-size: 1em; 
    font-family: sans-serif; 
    min-width: 450px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}.styled-dialog 
{ 
    margin: 0; 
    font-family: sans-serif;  
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    
}
.styled-table thead tr 
{ 
    background-color: #980081; 
    color: #ffffff; 
}
.styled-table th, .styled-table td 
{ 
    padding: 12px 15px; 
}
.styled-table tbody tr 
{
    border-bottom: 1px solid #dddddd; 
} 
.styled-table tbody tr:nth-of-type(even) 
{ 
    background-color: #f3f3f3; 
} 
.styled-table tbody tr:last-of-type 
{ 
    border-bottom: 2px solid #FFFF; 
}


